# Environnement Python

.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Outils de qualité

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Variables d'environnement

.env
.env.*
!.env.example

# IDE

.vscode/
.idea/

# Git

.git/
.gitignore

# Documentation et fichiers temporaires

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Build Python

build/
dist/
*.egg-info/

# Docker

Dockerfile*
docker-compose*.yml
.dockerignore

# Tests

tests/

# perso
livrables/
perso/